.navbar * {
  @apply text-white;
}

.fixed-top {
  @apply fixed top-0;
}

.header {
  @apply fixed-top w-full z-10;
}

.navbar {
  @apply bg-black h-12 w-full flex items-stretch z-10;
  box-shadow: 0px 1px 2px hsla(0, 0%, 0%, 0.4);
}

.navbar-main {
  @apply navbar;
}

.menu {
  @apply p-2 text-white flex items-center relative;
}

.menu:after,
.navLinks > div:active:after {
  content: '';
  display: block;
  line-height: normal;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  left: 0;
  background-color: white;
}

.menu:active:after,
.navLinks > div:active:after {
  animation-name: clicked;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
}

.menu:hover,
.navbar .navLinks > :hover {
  filter: brightness(65%);
}

@keyframes clicked {
  0% {
    opacity: 0;
  }

  25% {
    opacity: .3;
  }

  100% {
    opacity: 0;
  }
}

.navbar > .logo-link {
  @apply self-center flex-grow;
}

.navbar .navLinks {
  @apply flex flex-row flex-none;
}

.navbar .navLinks > * {
  @apply flex items-center px-2;
}
